<!DOCTYPE html>
<html>
<head>
  <title>Courses</title>
</head>
<body>
  <h1>Courses</h1>
  <a href="/courses/add">Add Course</a>
  <br>
  {{#if courses}}
    <table>
      <thead>
        <tr>
          <th>Course ID</th>
          <th>Course Code</th>
          <th>Course Description</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td>{{this.courseId}}</td>
            <td>{{this.courseCode}}</td>
            <td>{{this.courseDescription}}</td>
            <td><a href="/course/delete/{{this.courseId}}">Delete</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>{{message}}</p>
  {{/if}}
</body>
</html>
